.button-base {
    font-size: 1.2rem;
    background-color: transparent;
    cursor: pointer;
}

.button-base:hover {
    box-shadow: inset 0 0 5px 1px rgba(165, 231, 208, 0.75);
}

.button-base--main-theme {
    background-color: rgba(1, 77, 51, .85);
    color: rgb(208, 219, 215);
}